localhost:2017

header / X-Clacks-Overhead "GNU Terry Pratchett"

ext .html
root static

proxy /index localhost:5000 {
	header_upstream X-URI {scheme}://{host}
}
proxy /poster localhost:5000 {
	header_upstream X-URI {scheme}://{host}
}
proxy /create localhost:5000 {
	header_upstream X-URI {scheme}://{host}
}
proxy /edit localhost:5000 {
	header_upstream X-URI {scheme}://{host}
}
proxy /search localhost:5000 {
	header_upstream X-URI {scheme}://{host}
} 

rewrite / {
	if {path} is /
	to /index
}
