#container {
	max-width: 600px;
	width: 100vw;
	margin: 10px auto;
	padding: 10px;
	box-shadow: 0px 2px 2px black;
}

header {
	text-align: center;
	border-style: outset;
}

header p {
	font-style: italic;
}

#user-text, p.license {
	/* preserve user-entered newlines */
	white-space: pre-wrap;
}

table {
	width: 100%;
}

/* if someone makes a really big title or whatever,
   we don't want it to widen the page
*/
table.list {
	table-layout: fixed;
}

table.list td {
	width: 25%;
	word-wrap: break-word;
}


textarea {
	width: 100%;
}

label {
	display: inline;
}

label:not(.no-label-br):after {
	content: "\a"; /* newline */
	white-space: pre;
}

label #units:after {
	content: "";
}
