#source {
	position: fixed;
	top: 10px;
	right: 10px;
	opacity: 0.1;
	transition: opacity .5s ease-out;
	-moz-transition: opacity .5s ease-out;
	-webkit-transition: opacity .5s ease-out;
}

#source:hover {
	opacity: 1;
}

#container {
	max-width: 600px;
	width: 100vw;
	margin: 10px auto;
	padding: 10px;
	box-shadow: 0px 2px 2px black;
}

header {
	text-align: center;
	border-style: outset;
}

header p, #deletion-text {
	font-style: italic;
}

#user-text {
	/* preserve user-entered newlines */
	white-space: pre-wrap;
}

table, table input, table textarea {
	width: 100%;
}

/* if someone makes a really big title or whatever,
   we don't want it to widen the page
*/
table.list {
	table-layout: fixed;
}

table.list td {
	width: 25%;
	word-wrap: break-word;
}

label {
	display: inline;
}

label:not(.no-label-br):after, #deletion-text:after {
	content: "\a"; /* newline */
	white-space: pre;
}

label #units:after {
	content: "";
}

input[name="radius"] {
	width: inherit;
}
