{% macro create_edit_form(poster=None) %}
	{% if poster is not sameas None %}
		{% set title = poster.title %}
		{% set lat = poster.lat %}
		{% set long = poster.long %}
		{% set author = poster.author %}
		{% set text = poster.text %}
	{% endif %}
<form method="POST">
	<table>
		<tr>
			<td><label for="title">Title</label></td>
			<td><input type="text" name="title" value="{{title}}" required></td>
		</tr>
		{% include 'location_input.html' %}
		<tr>
			<td><label for="author">Author</label></td>
			<td><input type="text" name="author" value="{{author}}" required></td>
		</tr>
		<tr>
			<td><label for="text">Text</label></td>
			<td><textarea name="text" value="{{text}}">{{text}}</textarea></td>
		<tr>
			<td colspan="2"><input type="submit" value="Save poster"></td>
		</tr>
		<p>
			<!-- The Coding Den made me do it -->
			By submitting this content, you confirm that you have the legal right to distribute it.
			If you do not have ownership of the content, you agree that you have express authorization or a license to do so.
			Content you submit must comply with all laws of the United States of America.
			Posters.win will not be held responsible for user submitted content.
			If you wish to remove your poster, please press the "Delete this poster" button after you create it.
			If a poster violates the law or your copyright, contact <a href="mailto:content@posters.win">content@posters.win</a>.
		</p>
	</table>
</form>
{% endmacro %}
