<!DOCTYPE html>
<html lang="en-us">
<head>
	<title>Edit!</title>
	<link rel="stylesheet" href="/css/styles.css" type="text/css" />
</head>
<body>
<div id="container">
{% include 'octocat.html' %}
	<header>
		<h1>Edit!</h1>
	</header>
	
	<form method="POST">
		<table>
			<tr>
				<td><label for="title">Title</label></td>
				<td><input type="text" name="title" value="{{poster.title}}"></td>
			</tr>
			{% include 'latlong_inputs.html' %}
			<tr>
				<td><label for="author">Author</label></td>
				<td><input type="text" name="author" value="{{poster.author}}"></td>
			</tr>
			<tr>
				<td><label for="text">Text</label></td>
				<td><textarea name="text">{{poster.text}}</textarea></td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit" value="Save edits"></td>
			</tr>
		</table>
	</form>
	<form method="POST">
		<input type="hidden" name="delete" value="true">
		<input type="submit" value="Delete this poster (cannot be undone!)">
	</form>
	{% import 'buttons.html' as buttons %}
	{{ buttons.cancel() }}
</div>
</body>
</html>
