<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset=utf-8>
	<title>Edit!</title>
	<link rel="stylesheet" href="/css/styles.css" type="text/css" />
</head>
<body>
<div id="container">
	{% include 'octocat.html' %}
	<header>
		<h1>Edit!</h1>
	</header>
	{% from 'create_or_edit_form.html' import create_edit_form %}
	{{ create_edit_form(poster) }}
	<form method="POST">
		{% include 'csrf.html' %}
		<input type="hidden" name="delete" value="true">
		<input type="submit" value="Delete this poster (cannot be undone!)">
	</form>
	{% import 'buttons.html' as buttons %}
	{{ buttons.cancel() }}
</div>
</body>
</html>
