<!DOCTYPE html>
<html lang="en-us">
<head>
	<title>Posters!</title>
	<link rel="stylesheet" href="/css/styles.css" type="text/css" />
</head>
<body>
<div id="container">
	<header>
		<h1>Posters!</h1>
		<p>A Posterboard Website</p>
		{% if request.headers.get('X-URI') in ['https://posters.win', 'https://www.posters.win'] %}
			<p><a href="http://posters2ume5oohj.onion">Now available as a Tor .onion service!</a></p>
		{% endif %}
	</header>
	<h2><a href="/create">Create a new poster</a></h2>
	<h2>Search</h2>
	<form action="/search">
		<table>
			{% include 'latlong_inputs.html' %}
			<tr>
				<td><label for="radius" class="no-label-br">Search radius</label></td>
				<td>
					<input type="number" step="0.0001" name="radius">
					<select name="unit">
						<option value="km">Kilometers</option>
						<option value="mi">Miles</option>
						<option value="m">Meters</option>
						<option value="feet">Feet</option>
						<!-- we respect sailors around here too -->
						<option value="nm">Nautical Miles</option>
					</select>
				</td>
			</tr>
		</table>
		<input type="submit" value="Search"/>
	</form>
	<h2>All Posters</h2>
	{% include 'poster_list.html' %}
	<h2>Source Code/License</h2>
	You may find the source code
	<a href="https://github.com/bmintz/posters">on GitHub</a>.
	Pull requests are appreciated!
	<div id="license">
		<p>
			Posters.win&mdash;create virtual posters tied to a location<br>
			Copyright &copy; 2017 Benjamin Mintz
		</p>
		<p>
			This program is free software: you can redistribute it and/or modify
			it under the terms of the GNU Affero General Public License as
			published by the Free Software Foundation, version 3 of the License only.
		</p>
		<p>
			This program is distributed in the hope that it will be useful,
			but WITHOUT ANY WARRANTY; without even the implied warranty of
			MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
			GNU Affero General Public License for more details.
		</p>

		<p>
			You should have received a copy of the GNU Affero General Public License
			along with this program. If not, see
			<a href="https://www.gnu.org/licenses/">https://www.gnu.org/licenses/</a>.
		</p>
	</div>
</div>
</body>
</html>
