<!DOCTYPE html>
<html lang="en-us">
<head>
	<meta charset=utf-8>
	<title>View Poster</title>
	{% include 'og.html' %}
	<link rel="stylesheet" href="/css/styles.css" type="text/css" />
</head>
<body>
<div id="container">
{% include 'octocat.html' %}
	<header><h2>Poster</h2></header>
	<h3>{{poster.title}}</h3>
	{% from 'google_maps_link.html' import location_link %}
	Location: {{location_link(poster)}}<br>
	Posted by {{poster.author}} on {% include 'poster_date.html' %}<br>
	<!-- since this el has white-space: pre on it, don't indent -->
	<p id="user-text">{{poster.text}}</p>
	{% set ns = namespace(owns_poster = false) %}
	{% for token in session['tokens'] %}
		{% if poster.validate(token) %}
			{% set ns.owns_poster = True %}
		{% endif %}
	{% endfor %}
	{% if ns.owns_poster %}
		<a href="/edit/{{poster.id}}?token={{poster.token}}">Edit this poster</a>
	{% endif %}
	<!-- for legal reasons -->
	<span id="deletion-text">
		If this poster violates the law, you may
		<a href="mailto:content@posters.win?subject=Poster%20%23{{poster.id}}%20deletion%20request&body=Poster%20%23{{poster.id}}%20({{poster.title}})%20violates%20the%20law.%20I%20hereby%20request%20its%20deletion.%0A&lt;Please%20specify%20whether%20you%20are%20the%20copyright%20owner,%20or%20if%20this%20poster%20generally%20violates%20the%20law%20(e.g.%20it's%20pornographic%20or%20depicts%20child%20abuse)&gt;">
		request its deletion</a>.
	</span>
	{% import 'buttons.html' as buttons %}
	{{ buttons.back() }}
</div>
</body>
</html>
